package templates

import (
    "sqliteMoney/internal/reports/models"
)

templ MainCategoryReport(catRep []models.TemplCategoryReport){
    for _, rep := range catRep{
        <details>
            <summary><h1>{ rep.Month }</h1></summary>
            <h2>Доходы</h2>
            @rep.Incoms
            <h2>Расходы</h2>
            @rep.Expenses
        </details>
    }
}